{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1 class="text-5xl font-bold underline">Welcome to MoreField Result App!</h1>
    </div>
    <!-- <div class="col-md-2">
        <a href="/admin" class="btn btn-primary">Login</a>
    </div> -->
</div>
<br>
<img src="templates/static/morefield.jpg" alt="MoreField" width="600px">
<br>
<div class="h-400 lative overflow-y-auto">
    <table class="table-auto">
        <thead class="text-lg text-gray-50 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white-400">
        <tr>
            <th class="px-4">登録番号</th>
            <th class="px-4">プレイヤー名</th>
            <th class="px-4">加点種類</th>
            <th class="px-4">点数</th>
            <th class="px-4">タグ</th>
            <th class="px-4">日付</th>
        </tr>
        </thead>
        <tbody>
        {% for s in score %}
        <tr class="bg-white-200">
            <td class="border px-4 py-4">{{ s['id'] }}</td>
            <td class="border px-4 py-2">{{ s['player_name'] }}</td>
            <td class="border px-4 py-2">{{ s['kind'] }}</td>
            <td class="border px-4 py-2">{{ s['point'] }}</td>
            <td class="border px-4 py-2">{{ s['tag'] }}</td>
            <td class="border px-4 py-2">{{ s['date'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<hr>
<p>This is a simple toDo application powered by <b>FastAPI</b>!</p>
 
{% endblock %}